ul{
    display: inline;
    margin: 0;
    padding:0;
    float: right;
}
li{
    display: inline;
    text-align: right;
    
}
.logo {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input[type=text]{
    position: fixed;
    top:35%;
    left: 32%;
    width: 35%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .footer1{
    position: fixed;
    width: 100%;
    left:0px;
    bottom:0px;
    color:aliceblue;
    background-color: #ccc;
  }
 .big_Button{
  position: fixed;
  top:45%;
  left:43%
 }
 .button1{
  padding: 10px;
 }
 .button2{
  margin-left: 10px;
  padding: 10px;

 }
  